body {
    background: #D6D6D6;
    border: solid 1px #707070;
    margin: 0;
}

.flex {
    display: flex;
}

.SideBar {
    height: 100vh;
}

.ContentArea {
    width: calc(100vw - 278px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}