body {
    background: #D6D6D6;
    margin: 0;
}

.flex {
    display: flex;
}

.SideBar {
    height: 100vh;
}

.ContentArea {
    width: calc(100vw - 278px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}

.react-calendar__navigation {
    height: 36px !important;
    margin-bottom: 0 !important;
}
.react-calendar__tile {
    padding: 1px 6px !important;
}
