body {
    background: #D6D6D6;
    margin: 0;
}

.flex {
    display: flex;
}

.SideBar {
    height: 100vh;
}

.ContentArea {
    width: calc(100vw - 278px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}

.react-calendar__navigation {
    height: 36px !important;
    margin-bottom: 0 !important;
}
.react-calendar__tile {
    padding: 1px 6px !important;
}

.table {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: calc(100vw - 278px);
    overflow: scroll;
}
.table table {
    padding: 25px;
    align-self: flex-start;
    background: #fff;
}

.table table th, .table table td {
    text-align: center;
    border: solid 2px rgba(0,146,212,1);
}

@media screen and (min-width:1200px) {

}

@media screen and (min-width:768px) {

}
