* {
    font-family: "Poppins-Regular" , sans-serif;
}

.topBar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #ebebeb;
    width: 1296px;
    padding: 0 35px;
}

.topBar h3 {
    font-size: 26px;
    font-family: 'Poppins-SemiBold', sans-serif;
    color: #0065B2;
}

.topBarRight {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 575px;
    height: 45px;
}

.searchBar {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    border: solid 1px #1888DD;
    border-radius: 45px;
    width: 445px;
    background: rgba(24, 136, 221, 0.1);
}

.searchBar input[type=text] {
    background: transparent;
    border: none;
    outline: none;
    border-radius: 45px;
    width: 385px;
    height: 40px;
    color: #294572;

}

.searchBar button[type=submit] {
    width: 24px;
    height: 24px;
    border: none;
    outline: none;
    background: url("../images/assets/search.svg") no-repeat;
    background-size: 24px;
}

.searchBar input[type=text]:focus {
    color: #294572;
}

.topBar img {
    width: 35px;
    height: 35px;
}

.content {
    display: flex;
    justify-content: space-between;
    width: 1366px;
    height: 850px;
    padding-top: 33px;

}

.contentLeft, .contentMiddle, .contentRight {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.slider, .slider img {
    width: 810px;
    height: 350px;
    border-radius: 5px;
}
.slidesHeader{
    position: absolute;
    font-family: 'Poppins-Bold', sans-serif;
    color: #05152E;
    font-size: 21px;
}
.prev, .next{
    cursor: pointer;
    position: relative;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}
.newsArea{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    background: #fff;
    width: 740px;
    height: 320px;
    padding: 15px 35px;
    border-radius: 5px;
}
.birthdays span, .newMembers span, .newsArea span, .openPositions span, .advertisements span {
    font-family: 'Poppins-Bold', sans-serif;
    font-size: 18px;
    color: #294572;
}
.birthdays {
    text-align: center;
}
.birthdays button, .newMembers button, .newsArea button, .positions button, .advertisements button {
    display: flex;
    align-items: center;
    justify-content: center;
    background: transparent;
    font-family: 'Poppins-Regular', sans-serif;
    font-size: 12px;
    color: #294572;
    border: none;
    outline: none;
}
.birthdays button img, .newMembers button img, .newsArea button img, .positions button img, .advertisements button img{
    width: 15px;
    height: 15px;
}
.flex1, .flex2{
    display: flex;
}
.news {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px;
}
.news img {
    width: 150px;
    height: 100px;
    margin-right: 10px;
}

.news a {
    color: #989A9D;
    font-family: 'Poppins-SemiBold', sans-serif;
    font-size: 16px;
}
.news p {
    color: #989A9D;
    font-family: "Poppins-Light", sans-serif;
    font-size: 12px;
}
.bottomCards {
    display: flex;
    justify-content: space-between;
    width: 810px;
}
.phone, .documents, .revisions, .statementOfExpense {
    text-align: center;
    background: #fff;
    border-radius: 5px;
    width: 253px;
    height: 98px;
}
.phone h3, .documents h3, .revisions h3, .statementOfExpense h3 {
    font-family: 'Poppins-Bold', sans-serif;
    font-size: 18px;
    color: #294572;
}
.contentMiddle {
    width: 253px;
}
.birthdays, .newMembers{
    background: #fff;
    border-radius: 5px;
    width: 223px;
    height: 320px;
    padding: 15px;
}
.names {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 320px;
}
.nameCards {
    display: flex;
    justify-content: center;
    align-items: center;
}
.nameCards img {
    width: 65px;
    height: 65px;
}
.nameCards p {
    text-align: center;
    color: #B5B5B7;
    text-decoration: none;
    width: 120px;
    height: 65px;
}
.nameCards p span {
    color: #B5B5B7;
    font-family: 'Poppins-SemiBold', sans-serif;
    font-size: 18px;
}
.nameCards p a {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Poppins-Light', sans-serif;
    font-size: 8px;
    color: #B5B5B7;
}
.nameCards p a img {
    width: 21px;
    height: 21px;
}

.noone {
    text-align: center;
}
.contentRight{
    width: 253px;
}
.calendar {
    background: #fff;
    width: 253px;
    height: 178px;
    border-radius: 5px;
    overflow: hidden;
}
.openPositions {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 223px;
    height: 237px;
    background: #fff;
    border-radius: 5px;
    padding: 15px;
}

.positions {
    width: 193px;
    height: 207px;
    background: #F3F3F3;
}
.positions h3 {
    font-family: 'Poppins-SemiBold', sans-serif;
    font-size: 14px;
    color: #B5B5B7;
    border-bottom: solid 1px #000;
}
.advertisements {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    background: #fff;
    border-radius: 5px;
    height: 354px;
}
.advertisements img {
    width: 230px;
    height: 125px;
}

@media screen and (max-width:1200px) {

}

@media screen and (max-width:768px) {
}
