* {
    font-family: "Poppins-Regular" , sans-serif;
}

.sideBar {
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(90deg, rgba(0,156,220,1) 0%, rgba(0,146,212,1) 35%, rgba(0,140,208,1) 55%, rgba(0,100,176,1) 85%, rgba(0,74,135,1) 100%);
    height: 100vh;
    width: 278px;
}

.sideBarWrapper {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    height: 90%;
    width: 278px;
    color: #fff;
}

.imgWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.logo {
    width: 197px;
    height: 46px;
}

.photo {
    width: 135px;
    height: 135px;
}

.info {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-family: 'Poppins-Light', sans-serif;
    font-size: 12px;
    background: rgba(230, 244, 244, 0.2);
    width: 260px;
    height: 115px;
    color: #fff;
}

.info h2 {
    margin: 0;
    font-family: 'Poppins-Medium', sans-serif;
    font-size: 29px;
    color: #fff;
}

.nav {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: #fff;
}

.buttonWrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 45px;
    margin: 2px;
    color: #fff;
}

.nav img {
    width: 24px;
    height: 24px;
}

.accordion {
    background: rgba(39, 170, 225, 0.1);
    width: 185px;
    height: 45px;
    border-radius: 15px;
    border: solid 1px rgba(256, 256, 256, 0.1);
    font-family: 'Poppins-Light', sans-serif;
    font-size: 18px;
    color: #fff;
}

.panel {
    margin: 5px;
    width: 185px;
    color: #fff;
}

.links {
    font-family: 'Poppins-Light', sans-serif;
    font-size: 14px;
    line-height: 22px;
    text-decoration: none;
    color: #fff;
}

.logout {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Poppins-Light', sans-serif;
    font-size: 16px;
    background: rgba(230, 244, 244, 0.2);
    width: 265px;
    height: 80px;
    color: #fff;
}

.logout p {
    margin-right: 15px;
    color: #fff;
}
